@import "../../styles/variables.scss";

.form-input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 20px 12px 20px;
  font-size: 16px;

  &:focus {
    outline-color: $light-steel-blue;
  }
}
