@import "../../styles/variables.scss";

.hero {
  display: flex;
  padding: 100px 60px;
  min-height: 50vh;
  background-size: cover;

  @media (min-width: 420px) {
    min-height: 100vh;
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-heading {
    font-weight: normal;
    color: $gainsboro;
    font-size: 32px;

    @media (min-width: 420px) {
      font-size: 64px;
    }
  }
}
