@import "../../styles/variables.scss";

.hero {
  display: flex;
  padding: 100px 60px;
  min-height: 100vh;
  background-size: cover;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-heading {
    font-weight: normal;
    color: $gainsboro;
    font-size: 64px;
  }
}
