.navigation {
  margin-bottom: 40px;
  padding: 12px 20px;
  background-color: #303030;

  ul {
    display: flex;
  }

  &-link {
    padding: 4px 8px;
    color: white;
    text-decoration: none;

    &:first-child {
      padding-left: 0;
    }

    &--home {
      font-weight: bold;
    }
  }
}
