@import "./styles/reset.scss";
@import "./styles/variables.scss";

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

strong {
  font-weight: bold;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: $charcoal;
}
