@import "../../styles/variables.scss";

.message {
  padding: 20px;
  font-size: 14px;
  font-weight: bold;

  &--info {
    background-color: $light-steel-blue;
    color: $charcoal;
  }

  &--error {
    background-color: $pastel-pink;
    color: $charcoal;
  }
}
